
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: Geneva;
}

/* Horizontal Navbar */

.hor-navbar{
    width: 100%;
    height: 17vh;
    background-color: #939393;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.hor-navbar1{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.hor-navbar2{
    width: 100%;
    height: 6vh;
    margin-top: 10vh;
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
}

.nav2-a{
    width: 10vw;
    height: 5vh;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
    border: 2px solid black;
    border-radius:50px;
    font-size: 1vw;
    line-height: 4.5vh;
}

.nav2-a:hover{
    background-color: white;
    transition: 0.1s;
}

#brand{
    margin-left: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}

.nav-h1{
    font-size: 4vw;
    margin: 0 0 0 1vw;
}

.nav-logo{
    width: auto;
    height: 7.5vh;
    transition: 1s;
}

#brand:hover .nav-logo{
    transform: rotate(360deg);
}





.hor-btnbox{
    height: 10vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hor-loginbox{
    width: auto;
    height: 7vh;
    margin: 10px;
    padding: 7px 14px 7px 7px;
    background-color: #D9D9D9;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: row;

}

.hor-loginname{
    padding: 7px;
}

.hor-btn{
    color: black;
}

.hor-btn:hover{
    cursor: pointer;
    background-color: white;
    transition: 0.25s;
}

.hor-cartbtn{
    width: 7vh;
    height: 7vh;
    margin: 10px;
    padding: 5px;
    background-color: #D9D9D9;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}

/* Vertical Navbar

.ver-navbar{
    min-width: 125px;
    width: 15vw;
    height: 90vh;
    margin: 10vh 0 0 0;
    padding: 5vh 0 0 0;
    background: linear-gradient(0deg, hsl(0, 0%, 55%), hsl(0, 0%, 70%));
    position: fixed;
    display: flex;
    flex-direction: column;
    transform:translateX(-100%);
    transition: 0.25s ease-in-out;
}

.showMenu{
    transform: translateX(0);
}

.ver-btn{
    width: 15vw;
    height: 5vh;
    margin-left: 2vw;
    color: black;
    align-items: center;
    text-decoration: none;
    transition: 250ms ease-in-out;
}

.ver-btn:hover{
    font-size: 125%;
    margin-left: 5w;
    color: white;
    background-color: gray;
    outline: 2px solid currentColor;
    border-radius: 2px;
    transform: translateX(25px);
}*/


/* Container */

.container{
    max-width: 100vw;
    min-height: 100vh;
    padding: 19vh 0 0 1vw;
    background-color: #F5F5F5;
}

/* Categories tabs */

.tab {
    width: 98vw;
    overflow: hidden;
    border: 1px solid gray;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab button {
    width: 17vw;
    height: 5vh;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: lightgray;
}

.tab button.active {
    background-color: lightgray;
}

.tabcontent {
    width: 98vw;
    display: none;
    padding: 6px 12px;
    border: 1px solid gray;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Products */

.flex-lager{
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.produkt{
    /* min-width: 250px; */
    margin:2px;
    width: 30vh;
    height: auto;
    background-color: lightgray;
    border: 2px solid gray;
    box-sizing: content-box;
    transition: 0.5s;
}

.produktbild{
    width:  28vh;
    height: 28vh;
    margin: 1vh;
    transition: 0.5s;
}

.produktnamn{
    font-size: 2vh;
    height: 5vh;
    overflow-wrap: break-word;
    overflow: hidden;
}

.produkt:hover .produktbild{
    width:  30vh;
    height: 30vh;
    margin: 0;
}

.produkt:has(.produktbild:hover){
    background-color: white;
    cursor: default;
}

.produkt:hover{
    background-color: white;
    cursor: default;
}

.produktinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produktnamn, .produktantal, .produktpris{
    margin-left: 0.5vw;
}

.produktpris{
    margin-right: 0.5vw;
    color:rgb(20, 181, 20);
}

.productLink{
    display: block;
    width: 28vh;
    height: 5vh;
    margin: 1vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-top: 1vh;
    font-size: 2vh;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;

}

.update, .add-to-cart{
    width: 28vh;
    height: 7vh;
    margin: 1vh 0.5vw 1vh 0.5vw;
    padding: 2vh 8.2vh 2vh 8.2vh;
    text-decoration: none;
    font-size: 2vh;
    transition: 0.25s;
    background-color: red;
    border: red;
    border-radius: 5px;
    color: white;
}

.update:hover, .add-to-cart:hover{
    background-color: darkred;
    cursor: pointer;
}

.productLink:hover{
    background-color: lightgray;
}

.categoryOfItem{
    padding-top: 3vh;
    text-align: center;
}


/* Log in */

.formcont{
    width: 40vw;
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {

    .formcont {
        width: 90vw;
    }

    .inv-table {
        width: 90vw;
    }

    #checkout {
        width: 60vw;
    }

    .prods {
        width: 40vw;
    }

    .produkt {
        width: 35vw;
    }

    .produktbild{
        width: 33vw;
        height: 33vw;
        margin: 1vw;
    }

    .add-to-cart{
        margin: 1.5vw;
        padding: 2vw 1.5vh 2vw 1.5vh;
    }
}




  
.form-h1{
    margin-top: 5vh;
    text-align: center;
}

.form-hr{
    width: 35vw;
    height: 1px;
    margin: auto;
    background-color: black;
    border: 1px solid black;
}

.formbox{
    font-size: 3vh;
    margin: 4vh;
}

.forminput{
    width: 100%;
    height: 5vh;
    margin: 1vh;
}

.register-para{
    margin: 1vh 1vh 5vh 5vh;
}



/*
    Form validation 
    Checks if its invalid and the type isn't file or date, it also checks if the placeholder is shown, I.E someone has written something into the input
*/

input:not([type="date"]):not([type="file"]):invalid:not(:placeholder-shown):not(:focus){
    background-color: ivory;
    color:red;
    outline: 4px solid currentColor;
    outline-offset: 0px;
    transition: 350ms ease-in-out;
}

input:not([type="date"]):not([type="file"]):invalid:not(:placeholder-shown){
    background-color: ivory;
    color:orange;
    outline: 4px solid currentColor;
    outline-offset: 4px;
    transition: 350ms ease-in-out;
}

/*
    Checks if the input is valid, if so it should become light green to display that it's correct
*/

input:not(:invalid):not([type="submit"]){
    transition: 250ms ease-in;
    background-color: lightgreen;
    color:black;
    outline: 4px solid green;
}

.productHolder{
    width: 83vw;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.product{
    background: silver;
    margin:5px;
}


.productReg{
    width:80vw;
    height: 60vh;
    margin:auto;
    text-align: center;
    background-color: rgb(124, 124, 124);
    display: flex;
    flex-direction: column;

}

.productReg input{
    font-size:200%;
    margin: 5px 0;
    width:90%;
    border-radius: 5px;
    padding:4px;
    border:none;
}

.productReg textarea{
    width:90%;
    height:500px;
}



.btn-menu{
    font-size: 180%;

    margin-top:auto;
    margin-bottom: auto;
    cursor:pointer;
    border:none;
    outline: 2px currentColor solid;
    transition: 250ms ease-in-out;
    border-radius: 5px;
}


/* Product info page*/

.productInfo{
    width:60vw;
    height: 50vh;
    margin:auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 5%, 75%);
}

.productflexbox{
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.productInfo img{
    width:20vw;
    height:20vw;
    margin:auto;
    margin-top:25px;
}

.productInfo hr{
    border:none;
    width:100%;
    height:1vh;
    background: hsl(0, 2%, 55%);
    border-radius: 2px;
}

.productInfo h1{
    margin: 1vh;
}

.productInfo p{
    height: 20vh;
    margin: 1vh;
    padding: 1vh;
    overflow-wrap: break-word;
    background-color: gainsboro;
}

.productInfo span{
    margin: 1vh;
}


#brandMenu{
    display: flex;
    flex-direction: row;
}

#brand{
    margin-right:50px;
}

.btn-menu:hover{
    background: linear-gradient(180deg, hsl(0, 0%, 81%, 0.85), hsl(0, 0%, 36%, 0.85) );
    color: black;
    outline: 4px solid currentColor;
    outline-offset: 5px;
    border-radius: 10px;
    width:55px;
    height:55px;
    font-size: 200%;
}



/*Register product Page*/

.regprod{
    width: 15vw;
    height: 30vw;
    margin: 1vh;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.regprodimg{
    width: 15vw;
    height: 15vw;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.regprodname{
    width: 100%;
    height: 7vh;
    font-size: 2.5vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-wrap: break-word;
}

.regprodname::-webkit-scrollbar {
    display: none;
  }

.example::-webkit-scrollbar {
    display: none;
  }

.regproddesc{
    width: 14vw;
    height: 10vh;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0.5vw 0.5vw -1.5vh 0.5vw;
    overflow-y: scroll;
    overflow-wrap: break-word;

}

.regproductdesc{
    width: 14vw;
    height: 10vh;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0.5vw 0.5vw -1.5vh 0.5vw;
    overflow-y: scroll;
    overflow-wrap: break-word;

}

.regprodcat{
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.regprodbtn{
    width: 13vw;
    height: 3vh;
    margin: 1vw;
    border-radius: 5px;
}

.orderProd{
    height:auto;
    width:20vw;
    background: hsla(0, 0%, 47%, 0.66);
    padding:10px;

}
.orderProd img{
    width: 15vw;
    height: 15vw;
    margin: auto 0;
    margin-left:20px;
}

#menuOpen{
    width: 3vw;
    height: 3vw;
    margin: 2vh;
}


#best-before::before{
    content:'Best Before: ';
}


/* Report Info */ 

.flexreport{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reportbox{
    width: 40%;
    height: auto;
    /* background-color: green; */
    margin: 1vh;
    padding-left: 2vw;
}




@media screen and (min-width: 601px) {
    .flex-lager {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .flex-lager {
      font-size: 50%;
    }
  }



.orderTable,thead,th,tr,td{
    outline:2px solid black;
    color:white;
    background: gray;
}

th,tr,td, .reginputbox{
    padding: 10px;
}


.reginput{
    width: 90%;
    height: 7.5vh;
}


#amountSpan::before{
    content: 'Amount:';
}

#expDate::before{
    content:'Expiration date:';
}

#return{
    width:50px;
}

#return img{
    width:125px;
    height:65px;
}